@page "/"
@using Blazorise

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@*<BlazorDemo.Client.Components.Stringconcat />

<BlazorDemo.Client.Components.Calculator />
<BlazorDemo.Client.Components.BirthDay />
<BlazorDemo.Client.Components.AreaSquare />
<BlazorDemo.Client.Components.TimeDiff />
<BlazorDemo.Client.Components.SortArray />*@

<BlazorDemo.Client.Components.NorskeHelligdager />

@code
{
    [Inject] INotificationService NotificationService { get; set; }

    void ShowMessage()
    {
        NotificationService.Warning("", "");
    }
}